/* NAVBAR */
.navbar {
  margin-bottom: 40px;
}

.navbar-brand {
  padding: 4px 4px;
  border: solid 1px;
  border-radius: 4px;
  margin-left: 16px !important;
}

.navbar-brand:hover {
  color: white;
}

@media (min-width: 992px) {
  .separator {
    width: 1px;
    height: 38px;
    background-color: black;
    display: block !important;
    margin-left: 10px;
  }

  .nav-link {
    padding: 4px 4px;
    border: solid 1px;
    border-radius: 4px;
    margin-left: 10px !important;
  }
}

.nav-link:hover {
  color: white;
}

.separator {
  display: none;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 10px 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2%;
}

.userPage-wrapper {
  display: flex;
  justify-content: center;
}
